@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    height: auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.781);
    background: #fff url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
    /* background-image: url('https://www.loftissteel.com/wp/wp-content/uploads/2017/05/dark-brushed-metal-texture-steel-black-stock-photo-scratch-wallpaper.jpg'); */
    /* margin: 1rem 0 1rem 0; */
}

#banner {
    background-color: #003c976e;
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    align-content: center;
    justify-content: space-evenly;
}

#logo {
    margin-right: 1rem;
}

h1 {
    color: #fff;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    background-color: #003c976e;
    color: #fff;
    padding: 1rem;
    margin: 1rem 1rem;
}

.pokedex {
    margin-top: 1rem;
}

#output {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    /* max-width: 1080px; */

}

.toggle {
    visibility: hidden;
}
/* Start Pokemon Container Elements */

.pokemon-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 100%;
    padding: 0.5rem;
    
}

#poke-pic {
    height: 160px;
    width: 160px;
    text-align: center;
}


#poke-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    text-align: center;
}

/* Start types (Gen1) */

.type-container {
    margin-top: 0.5rem;
}

.type-block {
    color: #fff;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem; 
}

#grass {
    background-color: rgb(0, 128, 0);
}

#poison {
    background-color: rgb(129, 0, 129);
}

#fire {
    background-color: rgb(255, 0, 0);
}

#flying {
    background: linear-gradient(rgb(28, 82, 133), rgb(132, 132, 133));
}

#bug {
    background-color: rgb(154, 205, 50);
}

#normal {
    background: linear-gradient(rgb(98, 135, 170), rgb(183, 201, 212));
}

#ground {
    background: linear-gradient(rgb(116, 65, 7), rgb(231, 231, 122));
}

#water {
    background-color: rgb(2, 2, 255);
}

#fighting {
    background-color: rgb(122, 1, 1);
}

#rock {
    background-color: rgb(128, 72, 0);
}

#electric {
    background-color: rgb(192, 192, 21);
}

#ice {
    background: linear-gradient(rgb(138, 198, 255), rgb(0, 104, 168));
}

#psychic {
    background: linear-gradient(rgb(241, 113, 235), rgb(72, 8, 102));
}

#ghost {
    background: linear-gradient(rgb(123, 48, 184), rgb(41, 28, 49));
}

#dragon {
    background: linear-gradient(rgb(45, 14, 199), rgb(207, 3, 3));
}

/* End Types (Gen1) */

/* Start Types (Gen2) */

#steel {
    background: linear-gradient(rgb(85, 85, 85), rgb(189, 189, 189));
}

/* End Types (Gen2)*/

/* Start Types (Gen6) */

#fairy {
    background-color: hotpink;
}

/* End Types (Gen6) */

/* End Pokemon Container Elements */

@media screen and (max-width: 600px) {
    /* body {
      display: flex;
      flex-direction: column;
      margin: 1.5rem;
    } */

    .nav-bar {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    /* #output {
        display: flex;
        flex-direction: column;
    } */

    /* .pokemon-container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */
  }
