@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    height: auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.781);
    background: #fff url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
}

/* Start Header */
#banner {
    background-color: #000;
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    align-content: center;
    justify-content: space-around;
}

#logo {
    margin-right: 1rem;
}

h1 {
    color: #fff;
    font-family: 'Russo One', sans-serif;
}
/* End Header */

/* Start Nav */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    margin: 1rem 1rem;
}

.btn:hover {
    background-color: rgb(58, 58, 58);
    color: #fff;
}

#goTop {
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    position: fixed;
    opacity: 0%;
    transition: opacity 0.75s;
    right: 0;
    bottom: 0;
}

#goTop:hover {
    color: rgb(58, 58, 58);
    transform: scale(1.1);
}


/* End Nav */

.pokedex {
    margin-top: 1rem;
}

#output {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.toggle {
    visibility: hidden;
}

/* Start Pokemon Container Elements */
.pokemon-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    border-radius: 100%;
    padding: 0.5rem;
    
}

#poke-pic {
    height: 160px;
    width: 160px;
    text-align: center;
}


#poke-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#poke-name {
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-align: center;
}
/* End Pokemon Container Elements */
