/* Start types (Gen1) */

.type-container {
    margin-top: 0.5rem;
}

.type-block {
    color: #fff;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem; 
}

#grass {
    background-color: rgb(0, 128, 0);
}

#poison {
    background-color: rgb(129, 0, 129);
}

#fire {
    background-color: rgb(255, 0, 0);
}

#flying {
    background: linear-gradient(rgb(28, 82, 133), rgb(132, 132, 133));
}

#bug {
    background-color: rgb(154, 205, 50);
}

#normal {
    background: linear-gradient(rgb(98, 135, 170), rgb(183, 201, 212));
}

#ground {
    background: linear-gradient(rgb(116, 65, 7), rgb(231, 231, 122));
}

#water {
    background-color: rgb(2, 2, 255);
}

#fighting {
    background-color: rgb(122, 1, 1);
}

#rock {
    background-color: rgb(128, 72, 0);
}

#electric {
    background-color: rgb(228, 228, 60);
}

#ice {
    background: linear-gradient(rgb(138, 198, 255), rgb(0, 104, 168));
}

#psychic {
    background: linear-gradient(rgb(241, 113, 235), rgb(72, 8, 102));
}

#ghost {
    background: linear-gradient(rgb(123, 48, 184), rgb(41, 28, 49));
}

#dragon {
    background: linear-gradient(rgb(45, 14, 199), rgb(207, 3, 3));
}

/* End Types (Gen1) */

/* Start Types (Gen2) */

#steel {
    background: linear-gradient(rgb(85, 85, 85), rgb(189, 189, 189));
}

#dark {
    background-color: rgb(33, 33, 33);
}

/* End Types (Gen2)*/

/* Start Types (Gen6) */

#fairy {
    background-color: hotpink;
}

/* End Types (Gen6) */
